
html {

    height: 100%;
    width: 100%;
}

.mainContainer {

    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
}

.header {

    width: 100%;
    display: flex;
    justify-items: center;
    align-content: space-evenly;
}

.buttonContainer {

    display: flex;
    justify-items: center;
    align-content: space-evenly;
}

.button {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: transform 0.2s;
}
.button:hover {

    transform: scale(1.2);
}
.button img {

    width: 70%;
    height: 70%;
    object-fit: contain;
}

.navigationBar {

    height: 100%;
}

.mainView {


}

footer {

    width: 100%;
}