
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body{

    font-family: "Noto Sans", serif;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.mainContainer {

    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(60deg, blue, dodgerblue);
}

.headerContainer {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {

    width: 100%;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {

    margin: 0;
    padding: 0 35px;

    font-size: 24px;
    flex: 0 1 auto;
    white-space: nowrap;
    text-align: left;
}
.navigationBar {

    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.navigationBar a {

    text-decoration: none;
    color: inherit;
    position: relative;
}
.navigationBar a::after {

    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0425a8;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navigationBar a:hover::after {

    transform: scaleX(1.2);
}

/*.nav1 a {

    text-decoration: none;
    color: white;
    position: relative;
}

nav a::after {

    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
nav a:hover::after {
    transform: scaleX(1.3);
}*/

.mainViewContainer {

    width: 100%;
}
.mainView {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.textContainer {

    width: inherit;
    font-size: large;
}

.footerContainer {

    width: 100%;
}
footer {

    width: 100%;
}
.buttonContainer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
.button {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    transition: transform 0.2s;
}
.button:hover {

    transform: scale(1.2);
}
.button img {

    width: 70%;
    height: 70%;
    object-fit: contain;
}
