
html {

    height: 100%;
    width: 100%;
}

.mainContainer {

    height: 100%;
    width: 100%;
    display: grid;
}

.header {

    width: 100%;
}

.buttonContainer {


}

.navigationBar {

    height: 100%;
}

.mainView {


}

footer {

    width: 100%;
}