
.mainContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainContent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.paragraphContainer {

    list-style-type: none;
}

.paragraphItem {

    width: 100%;
}

.paragraph {
    color: white;
    line-height: 1.6;
    margin-bottom: 1rem;
}
