
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.mainContent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paragraphContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    gap: 40px;
}

.paragraphItem {

    background-color: #1e3c72;
    border-radius: 15px;
    width: 100%;
}

.paragraph {
    color: white;
    line-height: 1.6;
    margin-bottom: 1rem;
}
